// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600,800");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.reply-form {
    display: none;
}

.comment-lists {
    img {
        width: 100px;
        height: 100px;
        border-radius: 100px;
    }

    .media-body {
        padding-left: 31px;
        padding-top: 9px;
        h5 {
            font-weight: 800;
        }
    }

    .media {
        border-top: 1px solid #959595;
        &:first-child {
            border: none;
        }
    }
}
